.profile-info {
  padding-bottom: 20px;
}

.profile-info__card-center {
  text-align: center;
}

.profile-info__avatar {
  margin-bottom: 16px;
}

.profile-info__name {
  margin-bottom: 4px;
}

.profile-info__dept {
  margin-top: 16px;
  color: #86909C;
}

.profile-info__btn-edit {
  margin-top: 20px;
  width: 100%;
}

.profile-info__section {
  margin-top: 16px;
}

.profile-info__section-title {
  margin-bottom: 12px;
  font-weight: 600;
}

.profile-info__icon-user {
  font-size: 40px;
}
.profile-info__space-full { width: 100%; }
