.payslips {
  padding-bottom: 20px;
}

.payslips__card {
  margin-bottom: 16px;
}

.payslips__title {
  margin: 0;
}

.payslips__modal {
  width: 720px;
}

.payslips__select {
  width: 220px;
}

.payslips__space {
  width: 100%;
}
