.approval-flow {
  padding-bottom: 20px;
}

.approval-flow__card {
  /* default */
}

.approval-flow__header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.approval-flow__title {
  font-size: 16px;
  font-weight: 600;
}

.approval-flow__total-tag {
  margin-left: 8px;
}

.approval-flow__section-title {
  margin-bottom: 12px;
  font-weight: 600;
}
.approval-flow__modal {
  width: 560px;
}

.approval-flow__detail-modal {
  width: 700px;
}

.approval-flow__space {
  width: 100%;
}
